.body{
    --ion-background-color: #fff;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.voltar{
    width: 80px;
    height: 3vh;
}

.logo{
    width: 55px;
    height: 55px;
}

.invi{
    width: 23%;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.title img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.title ion-label{
    font-size: 25px;
    font-family: 'Inika';
    font-weight: 600;
}

h3{
    font-family: 'Inika';
    font-weight: 600;
    font-size: 20px;
}

ion-item::part(native){
    border-bottom: #000 2px solid;
}

.itens{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.field{
    width: 100%;
}

.itens h5{
    font-family: 'Inika';
    font-weight: 600;
}

.itens ion-note{
    font-family: 'Inika';
    font-weight: 600;
    color: #000;
    position: relative;
    top: 10px;
    left: 8px;
}

.buttonAdd{
    position: absolute;
    width: 77px;
    height: 33px;
    left: 0.3rem;
    top: 0.5rem;

    color: #000;

    border: 2px solid #000000;
    border-radius: 30px;

}