@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Teko:wght@700&display=swap');
.fundo{
    --ion-background-color:#323131;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background: #D9D9D9;
    border-radius: 30px;
    height: 100%;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }

  .email-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .inp_user {
    display: flex;
    align-items: center;
    margin-bottom: auto;
  }

  .inp_tel {
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  .inp_nome {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
  }

  .inp_nome img {
    margin-right: 10px;
    width: 21px;
    height: 21px;
  }

  .inp_tel img {
    margin-right: 10px;
    width: 21px;
    height: 21px;
  }
  
  .inp_user img {
    margin-right: 10px;
    width: 21px;
    height: 21px;
  }
  
  .input_user {
    flex: 1;
    border: 1px solid #000;
    border-radius: 10px;
  }

  .input_tel {
    flex: 1;
    border: 1px solid #000;
    border-radius: 10px;
  }

  .input_nome {
    flex: 1;
    border: 1px solid #000;
    border-radius: 10px;
  }


//Senhas
.senha-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  .senha-container a{
    cursor: pointer;
  }

  .inp_senha{
    display: flex;
    align-items: center;
    margin-bottom: auto;
    position: relative;
  }

  .input_senha{
    flex: 1;
    border: 1px solid #000;
    border-radius: 10px;
    padding-right: 30px;
  }

  .img_senha{
    margin-right: 10px;
  }

  .img_olho{
    position: absolute;
    right: 0;
    margin-right: 15px;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    transform: translateY(-50%);
  }

  
  #botao {
    margin-top: 10%;
    width: 60%;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    background: #323131;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
  }
  
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
  }
  
  .titulo {
    max-width: 100%;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
  }

// voltar
.voltar{
    position: absolute;
    top: 20px;
    left: -10px;
    width: 95px;
    height: 82px;
}

#img_voltar{
    width: 150%;
    height: 100%;
}