<ion-header>
  <ion-toolbar>
    <div class="logo">

      <ion-button mode="ios" class="voltar" color="--ion-background-color:#323131;" routerLink="/ver-agenda">
        <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
      </ion-button>
 
      <img class="centralizar" src="assets/imagens/logo.png" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div class="title">
    <h1>Cliente</h1>
    <div class="line"></div>
  </div>

  <div class="dadosUser">
    <ion-item lines="none">
      <img class="userP" src="assets/imagens/userPerfil.png" alt="Foto_Perfil">
      <h3>Nome: Matheus Santos de Paula</h3>
    </ion-item>
  </div>

  <div>
    <ion-item *ngFor="let consulta of Consultas">
      <ion-label>{{consulta.servicoCabelo}}</ion-label>
    </ion-item>
  </div>

</ion-content>
