<ion-content class="fundo" mode="ios">
  <div class="content-container">
    <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-login">
      <img id="img_voltar" src="assets/imagens/voltar_branco.png" alt="">
    </ion-button>

    <div class="title-container">
      <div class="titulo">
        <ion-label>Recuperar Senha</ion-label>
      </div>
    </div>

    <div class="form-container">

      <div class="user-container">
        <!-- Usuário -->
        <ion-item class="inp_user" color="--ion-background-color: #D9D9D9" lines="none">  
          <img src="assets/imagens/user.png" alt="Usuário">
          <ion-input placeholder="Email" class="input_user" id="email" required></ion-input>
        </ion-item>
      </div>

    </div>
    <ion-button id="botao" color="--ion-background-color:#323131;" (click)=" recuperarSenha()">Confirmar</ion-button>
  </div>
</ion-content>
