.body{
    position: relative;
    --ion-background-color: #fff;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.voltar{
    width: 80px;
    height: 3vh;
}

.logo{
    width: 55px;
    height: 55px;
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    gap: 20px;
}

.contato ion-label{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

.lines1{
    width: 90%;
    border: 1px solid #000000;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.container ion-label{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

.container-opcao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.container-opcao ion-label{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

.container-opcao a{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
}

.container-opcao img{
    width: 25px;
    height: 25px;
}

.email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.whats{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.telefone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

a{
    margin-bottom: 10%;
    text-decoration: none;
}

.invi{
    width: 23%;
}