.body{
    --ion-background-color: #fff;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.voltar{
    width: 80px;
    height: 3vh;
}

.logo{
    width: 55px;
    height: 55px;
}

.invi{
    width: 23%;
}

.inputs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.inputs-container ion-item{
    padding-bottom: 10%;
}

.titulo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-container h1{
    font-family: 'Inika';
    font-weight: 600;
}

.line{
    border: 1px solid #000;
    width: 90%;
}

.salvar{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.salvar ion-button{
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    width: 80%;
    font-family: 'Inika';
    font-weight: 800;
}

.salvar ion-button:hover{
    color: #000;
    transition: 0.5s ease;
    background-color: #a8a8a8;
}