<ion-header>
  <ion-toolbar>
    <ion-button mode="ios" class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal" (click)="tela()">
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<!-- Tela do Calendario -->
<ion-content class="body" mode="ios">
  <form (ngSubmit)="onSubmit()">
  <div *ngIf="editMode == 1">
    <div class="title">
        <h3><b>AGENDAMENTO</b></h3>
        <div class="line"></div>
    </div>

    <div class="calendario">
      <ion-datetime display-format="DD/MM/YYYY HH:mm" picker-format="DD/MM/YYYY HH:mm" [(ngModel)]="dataHora" name="dataHora">
        <span slot="time-label">Selecione o Horário:</span>
      </ion-datetime>
      <div class="line"></div>
    </div>

    <div class="agendar">
      <ion-button color=" --ion-background-color: #fff;" (click)="edit()">Confirmar</ion-button>
    </div>
  </div>
  
  
  <!-- Tela escolhendo cortes/produtos -->
  <div *ngIf="editMode == 2">
    
    <div class="title">
      <h3><b>AGENDAMENTO</b></h3>
      <div class="line"></div>
    </div>
    
    <ion-item *ngFor="let consulta of ConsultasUser" [(ngModel)]="nomeUser" name="nomeUser">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{consulta.nome}}</ion-label>
    </ion-item>
    <label class="lobelid" >#00385</label>
    <ion-list>
      <h1 class="Titonlo">Cabelo</h1>
      <ion-item lines="none">
        <ion-select placeholder="Selecione o Cabelo" [(ngModel)]="servicoCabelo" name="servicoCabelo">
          <ion-select-option *ngFor="let consulta of ConsultasCabelo">{{consulta.nome}}</ion-select-option>
        </ion-select>
      </ion-item>


      <h1 class="Titonlo">Barba</h1>
      <ion-item lines="none">
        <ion-select placeholder="Selecione a Barba" [(ngModel)]="servicoBarba" name="servicoBarba">
          <ion-select-option *ngFor="let consulta of ConsultasBarba">{{consulta.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

    
      
      <h1 class="Titonlo">Tintura</h1>
      <ion-item>
        <ion-select placeholder="Selecione a Tintura" [(ngModel)]="servicoTintura" name="servicoTintura">
            <ion-select-option *ngFor="let consulta of ConsultasTintura">{{consulta.nome}}</ion-select-option>
          </ion-select>
        </ion-item>
        
        <h1 class="Titonlo">Depilação</h1>
        <ion-item>
          <ion-select placeholder="Selecione a Tintura" [(ngModel)]="servicoDepilacao" name="servicoDepilacao">
              <ion-select-option *ngFor="let consulta of ConsultasDepilacao">{{consulta.nome}}</ion-select-option>
            </ion-select>
          </ion-item>
        
        <h1 class="Titonlo" >Hidratação</h1>
        <ion-item>
          <ion-select placeholder="Selecione a Tintura" [(ngModel)]="servicoHidratacao" name="servicoHidratacao">
              <ion-select-option *ngFor="let consulta of ConsultasHidratacao">{{consulta.nome}}</ion-select-option>
            </ion-select>
          </ion-item>

          <h2 class="Titonlo">Opções de Pagamento</h2>
        <ion-item>
          <ion-select placeholder="Selecione o Pagamento" [(ngModel)]="pagamento" name="pagamento">
              <ion-select-option value="pix">Pix</ion-select-option>
              <ion-select-option value="pagar-no-local">Pagar no Local</ion-select-option>
            </ion-select>
          </ion-item>
      </ion-list>

      <div class="agendar">
        <ion-button color=" --ion-background-color: #fff;" (click)="Pagamento()">Confirmar</ion-button>
      </div>
    </div>
    
    <!-- Tela Pagamento Pix -->
    <div *ngIf="editMode == 3">
      <div class="logoBarber">
        <img class="studio" src="assets/imagens/Studio Haircut 1.png" alt="">
        <img class="pix" src="assets/imagens/logo_pix.png" alt="">
      </div>
      
      <div class="linhas">
        <div class="line"></div>
      </div>
      
      <div class="content">
        <h1>Código do Pix gerado!</h1>
        
        <p>Use os dados abaixo para concluir o seu pagamento:</p>
        
        <img class="qrcode" src="assets/imagens/qrcode-pix.png" alt="">
        <h6>00020126450014BR.GOV.BCB.PIX0123studiohaircut@gmail.com5204000053039865802BR5925Studio HairCut BarberShop6012Pouso Alegre62070503***63041D65</h6>
        <ion-button class="finalizar" color=" --ion-background-color: #fff;" type="submit">Finalizar Pedido no Pix</ion-button>
      </div>
    </div>
    
    <!-- Pagamento no local -->
    <div *ngIf="editMode == 4">
      <div class="logoBarber">
        <img class="studio" src="assets/imagens/Studio Haircut 1.png" alt="">
        <img class="pix" src="assets/imagens/moeda.png" alt="">
      </div>
      
      <div class="linhas">
        <div class="line"></div>
      </div>
      
      <div class="content">
        <h1>Din Din!</h1>
        
        <p>Use os dados abaixo para concluir o seu pagamento:</p>
        
        <div class="valor">
          <ion-label class="texto_valorTotal">Valor Total: </ion-label>
          <ion-label class="texto_real">R$ VALOR</ion-label>
        </div>
        
        <ion-list class="troco">
          <h3>Troco: </h3>
          <ion-item>
            <ion-select interface="popover" placeholder='Precisa de "Troco"'>
              <ion-select-option value="cinquenta">R$ 50</ion-select-option>
              <ion-select-option value="cem">R$ 100</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        
        <ion-item class="check">
          <ion-checkbox slot="start" class="sem_troco"></ion-checkbox>
          <ion-label>Não precisa de troco</ion-label>
        </ion-item>
        
        
        <ion-button class="finalizar" color=" --ion-background-color: #fff;" type="submit">Finalizar Pedido</ion-button>
      </div>
    </div>
  </form>
    
    <!-- Tela Pagamento Concluido -->
    <div *ngIf="editMode == 5">
    <div class="container">
      <img class="confirma" src="assets/imagens/confirma.png">
    </div>

    <div class="title_3">
      <H1 class="text">Agendamento <br> Concluído!!!</H1>
    </div>
  </div>
</ion-content>