<ion-header mode="ios">
  <ion-toolbar>
    <ion-button mode="ios" class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-hidratacao" >
      <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
    </ion-button>
    <img class="logo" src="assets/imagens/logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div class="titulo-container">
    <h1>Editar Dados</h1>
    <div class="line"></div>
  </div>

  <div class="inputs-container">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="ion-padding"  mode="md">
      <ion-item fill="outline">
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="nome" id="nome" type="text" placeholder="Digite o novo nome"></ion-input>
      </ion-item>
    
      <ion-item fill="outline">
        <ion-label position="floating">Descrição</ion-label>
        <ion-input  formControlName="descricao" id="descricao" type="text" placeholder="Digite a nova descrição"></ion-input>
      </ion-item>
    
      <ion-item fill="outline">
        <ion-label position="floating">Valor</ion-label>
        <ion-input formControlName="valor" id="valor" type="number" placeholder="Digite o novo valor"></ion-input>
      </ion-item>

      <div class="salvar" mode="ios">
        <ion-button color=" --ion-background-color: #fff;" type="submit">Salvar</ion-button>
      </div>
    </div>
  </form>
</div>
</ion-content>
