.loginbutton{
    display: flex;
    text-align: center;
    margin: 40px;
    border-radius: 10px 20px 30px 40px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}


.body{
    --background: #C9C9C9;
    
}

.logo{
    margin-top: 50%;
}

ion-toolbar, ion-header{
    --background: #c9c9c9;
}

.body ion-button{
    --background: #202020;
    color: #fff;
}

.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.admin h1{
    font-family: 'Inika';
    font-weight: 600;
}