<ion-header mode="ios">
  <ion-toolbar>
    <div class="toolbar">
      <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal">
        <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
      </ion-button>
  
      <ion-button *ngIf="!editMode" class="bt_add" (click)="edit()" color="--ion-background-color:#323131;">
        <ion-icon class="icons" [name]="icone"></ion-icon>
      </ion-button>
  
      <ion-button *ngIf="editMode" class="bt_add" (click)="UpdateUser()" color="--ion-background-color:#323131;">
        <ion-icon class="icons" [name]="icone"></ion-icon>
      </ion-button>
  
      <ion-button *ngIf="!editMode" class="bt_del" (click)="deleteAccount()" color="--ion-background-color:#323131;">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="body" mode="ios"> 
  <div class="userP">
    <img src="assets/imagens/userPerfil.png" alt="Foto_Perfil">
  </div>


  <!-- Nome --> 
  <ion-item class="perfil" lines="none">
    <ion-label class="titulo" position="floating">Nome: <ion-text *ngIf="!editMode">{{ userName }}</ion-text></ion-label>
    <ion-input *ngIf="editMode" type="text" [(ngModel)]="userName"></ion-input>
    <img src="assets/imagens/user.png" alt="">
  </ion-item>

  <!-- Email -->
  <ion-item class="perfil" lines="none">
    <ion-label class="titulo" position="floating">Email:<ion-text *ngIf="!editMode">{{ userEmail }}</ion-text></ion-label>
    <ion-input *ngIf="editMode" type="email" [(ngModel)]="userEmail"></ion-input>
    
    <img src="assets/imagens/email.png" alt="">
  </ion-item>


  <!-- Tel -->
  <ion-item class="perfil" lines="none">
    <ion-label class="titulo" position="floating">Telefone:<ion-text *ngIf="!editMode">{{ userTel }}</ion-text></ion-label>
    <ion-input *ngIf="editMode" type="tel" [(ngModel)]="userTel"></ion-input>
    
    <img src="assets/imagens/telefone.png" alt="">
  </ion-item>
</ion-content>
