<div *ngIf="!editMode">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-button class="voltar" color="--ion-background-color:#323131;" routerLink="/tela-principal">
        <img id="img_voltar" src="assets/imagens/voltar.png" alt="">
      </ion-button>
  
      <ion-button class="bt_add" (click)="edit()" color="--ion-background-color:#323131;">
        <ion-icon class="icons" [name]="icone"></ion-icon>
      </ion-button>
  
      <ion-button class="bt_del" (click)="deleteAccount()" color="--ion-background-color:#323131;">
        <ion-icon class="icons" name="trash-outline"></ion-icon>
      </ion-button>
  
    </ion-toolbar>
  </ion-header>
  </div>
  
  <ion-content class="body" mode="ios"> 
      <img class="userP" src="assets/imagens/userPerfil.png" alt="Foto_Perfil">
      <div class="circle">
        <ion-icon class="camera" name="camera-outline"></ion-icon>
      </div>
  
      <!-- Nome --> 
      <ion-item class="perfil" lines="none">
        <ion-label class="titulo" position="floating">Nome:{{userName}}</ion-label>
        <img src="assets/imagens/user.png" alt="">
      </ion-item>
  
      <!-- Email -->
      <ion-item class="perfil" lines="none">
        <ion-label class="titulo" position="floating">Email: {{userEmail}}</ion-label>
        <img src="assets/imagens/email.png" alt="">
      </ion-item>
  </ion-content>